body {
    font-family: Arial;
    margin: 40px;
    color: #333333;
    background-color: #fafafa;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: #005f73;
}

.contact-info {
    margin-top: 5px;
    font-size: 15px;
}

hr {
    border: 0;
    border-top: 2px solid #005f73;
    margin: 10px 0 20px 0;
}

.section {
    display: flex;
    margin-bottom: 22px;
}

.titlesection {
    width: 20%;
    color: #005f73;
}

.innersection {
    width: 80%;
}

ul {
    margin-top: 5px;
    padding-left: 20px;
}