body {
  background: #005f73;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

h1 {
  color: #333333;
  text-align: center;
}

.about {
  background: #007f9c;
}

.skills {
  background: #007f9c;
}

.projects {
  background: #333333;
  display:flex;
  flex-wrap:wrap;
  color: #fafafa;
}

.project {
  width: 30%;
  margin: 10px;
  padding: 20px 10px;
  background: #007f9c;
  border-radius: 10%;
}

.project img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin: 0 auto 10px;
}

.project h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 40px;
  color: #333333;
}

.project p {
  padding: 0 10px;
  word-wrap: break-word;
  color: #333333;
}

.contact {
  background: #007f9c;
  color: #333333;
}