body {
  background: #f4f6f6;
  font-family: Arial, Helvetica, sans-serif;
  color: #2d2d2d
}
h1 {
  color: #005f73;
  text-align: center;
}

.about {
  background: #fafafa;
}

.skills {
  background: #ebf7f4;
}

.projects {
  background: #0a9396;
  display:flex;
  flex-wrap:wrap;
  color: #fafafa;
}

.project {
  width: 30%;
  margin: 10px;
  padding: 20px 10px;
  background: #fafafa;
  border-radius: 10%;
}

.project img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin: 0 auto 10px;
}

.project h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 40px;
  color: #005f73;
}

.project p {
  padding: 0 10px;
  word-wrap: break-word;
  color: #333333;
}

.contact {
  background: #94d2bd;
  color: #003845;
}